<%- include("../partials/header") %>




<div class="container">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% posts.forEach( post => { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= post["image"] %>">
                </div>
                <div class="caption">
                    <h4 id="postsName"><%= post["name"] %></h4>
                </div>
                <p>
                    <a href="/posts/<%= post._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        <% }); %>
    </div>
    
    
</div>



<%- include("../partials/footer") %>